body {
  background-color: black;
  color: #33ff33;
  font-family: 'Courier New', monospace;
  padding: 20px;
}

.terminal { /*Llamamos a una clase del html*/
  border: 2px solid #33ff33;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: #111;
}

.otherview { /*Llamamos a una clase del html*/
  border: 2px solid #33ff33;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: #111;
}

.otherview h1, h2, a {
  text-align: center;
}

.otherview ul, li>i{
  font-size: 40px;
  list-style: none;
}

.terminal ul{
  list-style-type: none;
}


input, textarea, button { /*Llamamos a las etiquetas del html*/
  background-color: #111;
  color: #33ff33;
  border: 1px solid #33ff33;
  padding: 8px;
  width: 100%;
  font-family: monospace;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

pre {
  background-color: #111;
  padding: 10px;
  border: 1px dashed #33ff33;
   max-width: 750px;
}

.title {
  text-align: center;
  color: #33ff33;
  font-size: 2em;
  margin-bottom: 20px;
}

.box {
  border: 2px solid lime;
  padding: 30px;
  display: inline-block;
  margin-top: 50px;
}

a {
  color: cyan;
  text-decoration: none;
  display: block;
  margin-top: 20px;
}
a:hover {
    color: white;
}

/*Espiners de transición*/
#level-transition { /*Llamamos un id del htnl*/
  display: flex;
  transition: opacity 0.5s;
  opacity: 1;
}

#level-transition.hide {
  opacity: 0;
  pointer-events: none;
}

.cursor {
  display: inline-block;
  width: 0.1em;
  height: 1em;
  background-color: lime;
  vertical-align: middle;
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite; /* Para Safari */
}


#overlay-nivel, #overlay-gameover, #overlay-victory {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;        /* Usar viewport width */
  height: 100vh;       /* Usar viewport height */
  background: rgba(9, 95, 9, 0.84);
  color: lime;
  font-size: 2.5em;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#matrix-nivel, #matrix-gameover, #matrix-victory  {
  position: absolute;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  z-index: 1;
  background: transparent;
  pointer-events: none;
}
#overlay-nivel > div, #overlay-gameover > div, #overlay-victory > div {
  z-index: 2;
  position: relative;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation { /* Para Safari */
    to {
    visibility: hidden;
  }
}

/* Animación de error de respuesta*/
.terminal.error-blink {
  animation: errorBlink 0.4s;
}
@keyframes errorBlink {
  0% { box-shadow: 0 0 20px 2px red; }
  100% { box-shadow: none; }
}