<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HACKERMASTER- Credits</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://kit.fontawesome.com/8c523bb022.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="otherview">
    <h1><i class="fa-solid fa-people-group"></i> Credits</h1>
    <p class="sistema">Development Team</p>

    <ul>
      <li><i class="fa-solid fa-person"></i> Elmer Rivadeneira </li>
      <li> <i class="fa-solid fa-person-dress"></i> Anahy Condor</li>
      <li><i class="fa-solid fa-person-dress"></i> Natasha Nuñez</li>
      <li> <i class="fa-solid fa-person"></i> Klever Castillo</li>
      <li> <i class="fa-solid fa-person"></i> Klever Castillo</li>
    </ul>

    <a href="/"><i class="fa-solid fa-angles-left"></i> Return to Menu</a>
  </div>
</body>
</html>
