<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>HACKERMASTER - Menú Principal</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://kit.fontawesome.com/8c523bb022.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="terminal">
    <h1><i class="fa-solid fa-laptop-code"></i> CODEBREAKER</h1>
    <p class="sistema">Menú principal del sistema</p>

    <ul>
      <li><a href="/play"><i class="fa-solid fa-gamepad"></i> Iniciar nuevo juego</a></li>
      <li><a href="/metrics"> <i class="fa-solid fa-chart-simple"></i> Ver métricas de jugadores</a></li>
      <li><a href="/instructions"><i class="fa-solid fa-bullhorn"></i> Instrucciones</a></li>
      <li><a href="/credits"><i class="fa-solid fa-code"></i> Créditos del equipo</a></li>
    </ul>
  </div>
</body>
</html>
