<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HACKERMASTER - Instructions</title>
  <link rel="stylesheet" href="/static/css/style.css">
   <script src="https://kit.fontawesome.com/8c523bb022.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="otherview">
    <h1>📘 Instructions</h1>
    <p class="sistema">How to play CODEBREAKER:</p>

    <ul style="list-style: circle; font-size: 20px;">
      <li>Ingresa tu nombre para comenzar.</li>
      <li>Te enfrentarás a 6 niveles de dificultad creciente.</li>
      <li>Cada nivel presenta un acertijo de programación o un reto lógico.</li>
      <li>Escribe tu código o respuesta en el campo de la consola y haz clic en "Ejecutar".</li>
      <li>Tienes 3 intentos, pero cada fallo será registrado.</li>
      <li>SIDAR te dará pistas enigmáticas si fallas.</li>
    </ul>

    <a href="/"><i class="fa-solid fa-angles-left"></i>  Return to Menu</a>
  </div>
</body>
</html>
