<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>CODEBREAKER - Acceso de Agente</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <script defer src="/static/js/game.js"></script> <!-- defer para esperar a que cargue todo -->
</head>
<body>
  <div class="terminal">
    <h1 class="title">💻 CODEBREAKER</h1>
    <p class="sistema">Sistema de acceso a la red encriptada</p>

    <!-- Pantalla de inicio -->
    <div id="inicio">
      <label for="playerName">🧑 Ingresar nombre de agente:</label><br>
      <input type="text" id="playerName" placeholder="Agente X"><br><br>
      <button id="startBtn">Iniciar misión</button>
      <button onclick="window.location.href='/'">Regresar al menu</button>
    </div>

    <!-- Consola del juego -->
    <div id="consola" style="display:none;">
      <h2 id="nivel"></h2>
      <h2>📜 Reto:</h2>
      <pre id="reto"></pre>
      <p id="pista" style="color:lime;"></p>

      <label for="respuesta">🧠 Escribe tu código o respuesta:</label><br>
      <textarea id="respuesta" rows="5" cols="80" placeholder="Ej: print('Hola Mundo')"></textarea><br>

      <button id="sendBtn">Ejecutar</button>
      <button id="reloadBtn">🔁 Reiniciar Juego</button>
      <pre id="salida"></pre>
    </div>
  </div>
</body>
</html>
